@import "tailwindcss";

:root {
  --background: var(--color-zinc-950);
  --foreground: var(--color-zinc-50);

  --font-sans: "DM Sans", sans-serif, system-ui;

  @media (prefers-color-scheme: light) {
    --background: var(--color-zinc-50);
    --foreground: var(--color-zinc-950);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
